@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
/* .gmnoprint div {
    background:none !important;
} */

a {
  text-decoration: none;
}

.mapHeight {
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
   display:none;
}
